{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="text-danger mb-4">Contact Us</h1>

    <div class="card p-4 shadow">

        <p><strong>Phone:</strong> 01234 567890</p>

        <p><strong>Email:</strong> enquiries@cluckinchicken.com</p>

        <p><strong>Address:</strong><br>
        Cluckin Chicken<br>
        Basingstoke, UK</p>

        <hr>
        
        {% if messages %}

            {% for message in messages %}

                <div class="alert alert-success">

                    {{ message }}

                </div>

            {% endfor %}

        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <input class="form-control mb-3" type="text" name="name" placeholder="Your Name" required>

            <input class="form-control mb-3" type="email" name="email" placeholder="Your Email" required>

            <textarea class="form-control mb-3" rows="5" name="message" placeholder="Message" required></textarea>

            <button class="btn btn-danger">
                Send Message
            </button>
        </form>

    </div>
</div>

{% endblock %}