{% extends 'base.html' %} 
{% load static %}
{% block content %}

<h2 class="text-danger mb-4">Menu</h2>

{% for category in categories %}

<h3 class="text-danger mt-5 mb-3">{{ category.name }}</h3>

{% if category.name == "Drinks" %}

<!-- DRINKS LIST -->

<ul class="list-group mb-5">
  {% for item in category.menuitem_set.all %}
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
      <div>
        <h6 class="mb-1">{{ item.name }}</h6>
        <strong>£{{ item.price }}</strong>
      </div>
        <a href="{% url 'update_cart' item.id 'add' %}"
           class="btn btn-warning btn-sm">Add</a>
      </div>
    </li>

  {% endfor %}
</ul>

{% else %}

<!-- FOOD CARDS -->

<div class="row">
  {% for item in category.menuitem_set.all %}

  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
      {% if item.image %}

      <img
        src="{{ item.image.url }}"
        class="card-img-top"
        style="height: 220px; object-fit: cover"
      />

      {% else %}

      <img
        src="{% static 'images/default.png' %}"
        class="card-img-top"
        style="height: 220px; object-fit: cover"
      />
      {% endif %}

      <div class="card-body d-flex flex-column">
        <h5>{{ item.name }}</h5>

        <p>{{ item.description }}</p>

        <strong class="mb-3"> £{{ item.price }} </strong>

        <a
          href="{% url 'update_cart' item.id 'add' %}"
          class="btn btn-warning mt-auto"
        >
          Add to Cart
        </a>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% endif %} 
{% endfor %} 
{% endblock %}