{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-danger">Menu</h1>

<div class="row">
    {% for item in items %}
    <div class="col-md-4 mb-4">
          <div class="card">
            {% if item.image %}
                <img src="{{ item.image.url }}" class="card-img-top">
            {% else %}
                <img src="/media/default.jpg" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5>{{ item.name }}</h5>
                <p>{{ item.description }}</p>
                <strong>£{{ item.price }}</strong>
                <a href="{% url 'add_to_cart' item.id %}"
                class="btn btn-warning w-100">Add to Cart
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}